@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tw-animate-css";

@layer base {
  :root {
    --primary: #b9ff66;
    --secondary: #191a23;
    --accent: #f3f3f3;
    --radius: 0.625rem;
  }

  /* Light mode defaults */
  body {
    @apply bg-accent text-secondary;
  }

  /* Dark mode overrides */
  .dark {
    --primary: #b9ff66;
    --secondary: #f3f3f3;
    --accent: #191a23;

    @apply bg-secondary text-accent;
  }
}
